In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
import statsmodels.api as sm
%matplotlib inline
pd.options.display.max_rows = 999

In [2]:
accre_jobs = pd.read_csv('../data/accre-jobs-2020.csv', nrows=2)

In [3]:
columns_list= accre_jobs.columns.to_list()
columns_list

['JOBID',
 'ACCOUNT',
 'USER',
 'REQMEM',
 'USEDMEM',
 'REQTIME',
 'USEDTIME',
 'NODES',
 'CPUS',
 'PARTITION',
 'EXITCODE',
 'STATE',
 'NODELIST']

In [4]:
accre_jobs

,JOBID,ACCOUNT,USER,REQMEM,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,PARTITION,EXITCODE,STATE,NODELIST
0,15925210,treviso,arabella,122880Mn,65973.49M,13-18:00:00,13-18:00:28,1,24,production,0:0,COMPLETED,cn1531
1,15861126,treviso,arabella,122880Mn,67181.12M,13-18:00:00,12-14:50:56,1,24,production,0:0,COMPLETED,cn1441

In [5]:
accre_jobs = pd.read_csv('../data/accre-jobs-2020.csv', nrows=2, usecols=columns_list)

In [6]:
accre_jobs = pd.read_csv('../data/accre-jobs-2020.csv', nrows=3500, usecols=columns_list)

In [7]:
accre_jobs.loc[3460:3470]

,JOBID,ACCOUNT,USER,REQMEM,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,PARTITION,EXITCODE,STATE,NODELIST
3460,17050901_91,winged,lavonda,4096Mn,669.61M,12:00:00,00:06:05,4,1,production,0:0,COMPLETED,cn[449
3461,17050901_92,winged,lavonda,4096Mn,500.06M,12:00:00,00:02:25,1,4,production,0:0,COMPLETED,cn1336
3462,17050901_93,winged,lavonda,4096Mn,530.52M,12:00:00,00:02:19,1,4,production,0:0,COMPLETED,cn1319
3463,17050901_94,winged,lavonda,4096Mn,620.31M,12:00:00,00:05:59,3,1,production,0:0,COMPLETED,cn[425
3464,17050901_95,winged,lavonda,4096Mn,484.49M,12:00:00,00:02:08,1,4,production,0:0,COMPLETED,cn1319
3465,17050901_96,winged,lavonda,4096Mn,304.21M,12:00:00,00:02:16,1,4,production,0:0,COMPLETED,cn1336
3466,17050901_97,winged,lavonda,4096Mn,629.38M,12:00:00,00:06:24,4,1,production,0:0,COMPLETED,cn[394
3467,17050901_98,winged,lavonda,4096Mn,561.52M,12:00:00,00:02:04,1,4,production,0:0,COMPLETED,cn1319
3468,17050901_99,winged,lavonda,4096Mn,636.64M,12:00:00,00:02:00,1,4,production,0:0,COMPLETED,cn1319
3469,17050901_100,winged,lavonda,4096Mn,522.07M,12:00:00,00:02:09,1,4,production,0:0,COMPLETED,cn1336
3470,17050901_101,winged,lavonda,4096Mn,641.92M,12:00:00,00:06:02,3,1,production,0:0,COMPLETED,cn[463

In [8]:
with open('../data/accre-jobs-2020-piped.csv', 'w') as out_file:
    with open('../data/accre-jobs-2020.csv') as in_file:
        for line in in_file.readlines():
            out_file.write(line.replace(',','|', 12))

In [9]:
accre_jobs_piped = pd.read_csv('../data/accre-jobs-2020-piped.csv', sep="|")

In [10]:
accre_jobs_piped.head()

,JOBID,ACCOUNT,USER,REQMEM,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,PARTITION,EXITCODE,STATE,NODELIST
0,15925210,treviso,arabella,122880Mn,65973.49M,13-18:00:00,13-18:00:28,1,24,production,0:0,COMPLETED,cn1531
1,15861126,treviso,arabella,122880Mn,67181.12M,13-18:00:00,12-14:50:56,1,24,production,0:0,COMPLETED,cn1441
2,15861125,treviso,arabella,122880Mn,69111.86M,13-18:00:00,13-18:00:20,1,24,production,0:0,COMPLETED,cn1464
3,16251645,treviso,arabella,122880Mn,65317.33M,13-18:00:00,12-03:50:32,1,24,production,0:0,COMPLETED,cn1473
4,16251646,treviso,arabella,122880Mn,65876.11M,13-18:00:00,13-18:00:03,1,24,production,0:0,COMPLETED,cn1440

In [11]:
accre_jobs_piped.loc[3460:3470]

,JOBID,ACCOUNT,USER,REQMEM,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,PARTITION,EXITCODE,STATE,NODELIST
3460,17050901_91,winged,lavonda,4096Mn,669.61M,12:00:00,00:06:05,4,1,production,0:0,COMPLETED,"cn[449,463,911,913]"
3461,17050901_92,winged,lavonda,4096Mn,500.06M,12:00:00,00:02:25,1,4,production,0:0,COMPLETED,cn1336
3462,17050901_93,winged,lavonda,4096Mn,530.52M,12:00:00,00:02:19,1,4,production,0:0,COMPLETED,cn1319
3463,17050901_94,winged,lavonda,4096Mn,620.31M,12:00:00,00:05:59,3,1,production,0:0,COMPLETED,"cn[425,449,1134]"
3464,17050901_95,winged,lavonda,4096Mn,484.49M,12:00:00,00:02:08,1,4,production,0:0,COMPLETED,cn1319
3465,17050901_96,winged,lavonda,4096Mn,304.21M,12:00:00,00:02:16,1,4,production,0:0,COMPLETED,cn1336
3466,17050901_97,winged,lavonda,4096Mn,629.38M,12:00:00,00:06:24,4,1,production,0:0,COMPLETED,"cn[394,463,911,913]"
3467,17050901_98,winged,lavonda,4096Mn,561.52M,12:00:00,00:02:04,1,4,production,0:0,COMPLETED,cn1319
3468,17050901_99,winged,lavonda,4096Mn,636.64M,12:00:00,00:02:00,1,4,production,0:0,COMPLETED,cn1319
3469,17050901_100,winged,lavonda,4096Mn,522.07M,12:00:00,00:02:09,1,4,production,0:0,COMPLETED,cn1336
3470,17050901_101,winged,lavonda,4096Mn,641.92M,12:00:00,00:06:02,3,1,production,0:0,COMPLETED,"cn[463,911,1134]"

In [12]:
accre_jobs_piped.sort_values('USEDTIME', ascending=False)

,JOBID,ACCOUNT,USER,REQMEM,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,PARTITION,EXITCODE,STATE,NODELIST
1622427,19735157,mickey,penny,126976Mn,7541.80M,20-20:00:00,9-23:34:43,1,24,cgw-dougherty1,0:0,COMPLETED,dougherty1
461600,17713864_49,fresh,demonte,24576Mn,14165.00M,10-00:00:00,9-23:27:11,1,2,production,0:0,COMPLETED,cn316
3610224,23765382,boysenberries,hortensia,120000Mn,40152.81M,13-22:00:00,9-23:11:50,1,8,production,0:0,COMPLETED,cn1240
3610223,23765380,boysenberries,hortensia,120000Mn,39362.95M,13-22:00:00,9-23:11:36,1,8,production,0:0,COMPLETED,cn1237
2814590,22318738,lychees,elba,30720Mn,1349.73M,14-00:00:00,9-22:57:28,1,2,production,0:0,COMPLETED,cn414
...,...,...,...,...,...,...,...,...,...,...,...,...,...
761966,18105129,cms,cmspilot,62193Mn,0,2-00:00:00,00:00:00,1,12,nogpfs,0:0,COMPLETED,ng1113
2014499,20598113,cms,uscmslocal,46071Mn,0,2-00:00:00,00:00:00,1,8,nogpfs,0:0,COMPLETED,ng518
2014179,20596308,cmsadmin,lcgadmin,4096Mn,0.09M,2-00:00:00,00:00:00,1,1,sam,0:0,COMPLETED,vm-cms-sam-pri
652666,17985724,cms,cmslocal,21875Mn,0,2-00:00:00,00:00:00,1,8,nogpfs,0:0,COMPLETED,ng1027
651082,17983069,cms,cmspilot,21875Mn,0,2-00:00:00,00:00:00,1,8,nogpfs,0:0,COMPLETED,ng1061

In [13]:
accre_jobs_piped.columns = [col_name.lower() for col_name in accre_jobs_piped.columns]

In [14]:
accre_jobs_piped.head()

,jobid,account,user,reqmem,usedmem,reqtime,usedtime,nodes,cpus,partition,exitcode,state,nodelist
0,15925210,treviso,arabella,122880Mn,65973.49M,13-18:00:00,13-18:00:28,1,24,production,0:0,COMPLETED,cn1531
1,15861126,treviso,arabella,122880Mn,67181.12M,13-18:00:00,12-14:50:56,1,24,production,0:0,COMPLETED,cn1441
2,15861125,treviso,arabella,122880Mn,69111.86M,13-18:00:00,13-18:00:20,1,24,production,0:0,COMPLETED,cn1464
3,16251645,treviso,arabella,122880Mn,65317.33M,13-18:00:00,12-03:50:32,1,24,production,0:0,COMPLETED,cn1473
4,16251646,treviso,arabella,122880Mn,65876.11M,13-18:00:00,13-18:00:03,1,24,production,0:0,COMPLETED,cn1440

In [15]:
def get_seconds(used_time_string):
    """calculate total second in job time"""
    days = 0
    day_break = used_time_string.split('-')
    if len(day_break) > 1:
        days = int(day_break[0])
        hms = day_break[1]
    else:
        hms = day_break[0]
    hours, mins, secs = [int(part) for part in hms.split(':')]
    total_seconds = secs + (mins * 60) + (hours * 3600) + (days * 86400)
    return total_seconds

In [16]:
accre_jobs_piped['req_total_seconds'] = accre_jobs_piped['reqtime'].apply(get_seconds)

In [17]:
accre_jobs_piped.head()

,jobid,account,user,reqmem,usedmem,reqtime,usedtime,nodes,cpus,partition,exitcode,state,nodelist,req_total_seconds
0,15925210,treviso,arabella,122880Mn,65973.49M,13-18:00:00,13-18:00:28,1,24,production,0:0,COMPLETED,cn1531,1188000
1,15861126,treviso,arabella,122880Mn,67181.12M,13-18:00:00,12-14:50:56,1,24,production,0:0,COMPLETED,cn1441,1188000
2,15861125,treviso,arabella,122880Mn,69111.86M,13-18:00:00,13-18:00:20,1,24,production,0:0,COMPLETED,cn1464,1188000
3,16251645,treviso,arabella,122880Mn,65317.33M,13-18:00:00,12-03:50:32,1,24,production,0:0,COMPLETED,cn1473,1188000
4,16251646,treviso,arabella,122880Mn,65876.11M,13-18:00:00,13-18:00:03,1,24,production,0:0,COMPLETED,cn1440,1188000

In [18]:
accre_jobs_piped['used_total_seconds'] = accre_jobs_piped['usedtime'].apply(get_seconds)

In [19]:
accre_jobs_piped.head()

,jobid,account,user,reqmem,usedmem,reqtime,usedtime,nodes,cpus,partition,exitcode,state,nodelist,req_total_seconds,used_total_seconds
0,15925210,treviso,arabella,122880Mn,65973.49M,13-18:00:00,13-18:00:28,1,24,production,0:0,COMPLETED,cn1531,1188000,1188028
1,15861126,treviso,arabella,122880Mn,67181.12M,13-18:00:00,12-14:50:56,1,24,production,0:0,COMPLETED,cn1441,1188000,1090256
2,15861125,treviso,arabella,122880Mn,69111.86M,13-18:00:00,13-18:00:20,1,24,production,0:0,COMPLETED,cn1464,1188000,1188020
3,16251645,treviso,arabella,122880Mn,65317.33M,13-18:00:00,12-03:50:32,1,24,production,0:0,COMPLETED,cn1473,1188000,1050632
4,16251646,treviso,arabella,122880Mn,65876.11M,13-18:00:00,13-18:00:03,1,24,production,0:0,COMPLETED,cn1440,1188000,1188003

In [20]:
accre_jobs_piped.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3816290 entries, 0 to 3816289
Data columns (total 15 columns):
 #   Column              Dtype
---  ------              -----
 0   jobid               object
 1   account             object
 2   user                object
 3   reqmem              object
 4   usedmem             object
 5   reqtime             object
 6   usedtime            object
 7   nodes               int64
 8   cpus                int64
 9   partition           object
 10  exitcode            object
 11  state               object
 12  nodelist            object
 13  req_total_seconds   int64
 14  used_total_seconds  int64
dtypes: int64(4), object(11)
memory usage: 436.7+ MB

In [21]:
def get_mb_per_core(row):
    if 'Mn' in row['reqmem']:
        cpus = row['cpus'] or 1
        reqmem = int(row['reqmem'][:-2]) / (row['nodes'] * cpus)
    elif 'Mc' in row['reqmem']:
        reqmem = int(row['reqmem'][:-2])
    else:
        reqmem = row['reqmem']
    return reqmem

In [22]:
accre_jobs_piped['mb_per_core'] = accre_jobs_piped.apply(get_mb_per_core, axis = 1)

In [23]:
accre_jobs_piped.head()

,jobid,account,user,reqmem,usedmem,reqtime,usedtime,nodes,cpus,partition,exitcode,state,nodelist,req_total_seconds,used_total_seconds,mb_per_core
0,15925210,treviso,arabella,122880Mn,65973.49M,13-18:00:00,13-18:00:28,1,24,production,0:0,COMPLETED,cn1531,1188000,1188028,5120.0
1,15861126,treviso,arabella,122880Mn,67181.12M,13-18:00:00,12-14:50:56,1,24,production,0:0,COMPLETED,cn1441,1188000,1090256,5120.0
2,15861125,treviso,arabella,122880Mn,69111.86M,13-18:00:00,13-18:00:20,1,24,production,0:0,COMPLETED,cn1464,1188000,1188020,5120.0
3,16251645,treviso,arabella,122880Mn,65317.33M,13-18:00:00,12-03:50:32,1,24,production,0:0,COMPLETED,cn1473,1188000,1050632,5120.0
4,16251646,treviso,arabella,122880Mn,65876.11M,13-18:00:00,13-18:00:03,1,24,production,0:0,COMPLETED,cn1440,1188000,1188003,5120.0

In [24]:
accre_jobs_piped['nodelist'][3460:3470].to_list()

['cn[449,463,911,913]',
 'cn1336',
 'cn1319',
 'cn[425,449,1134]',
 'cn1319',
 'cn1336',
 'cn[394,463,911,913]',
 'cn1319',
 'cn1319',
 'cn1336']

In [25]:
accre_jobs_piped['nodelist'][3460:3470].str.findall(r'(\D+)*(\d+)')

3460    [(cn[, 449), (,, 463), (,, 911), (,, 913)]
3461                                  [(cn, 1336)]
3462                                  [(cn, 1319)]
3463             [(cn[, 425), (,, 449), (,, 1134)]
3464                                  [(cn, 1319)]
3465                                  [(cn, 1336)]
3466    [(cn[, 394), (,, 463), (,, 911), (,, 913)]
3467                                  [(cn, 1319)]
3468                                  [(cn, 1319)]
3469                                  [(cn, 1336)]
Name: nodelist, dtype: object

In [26]:
accre_jobs_piped['node_index'] = accre_jobs_piped['nodelist'].str.extract(r'([a-z-]+)',expand=False)
accre_jobs_piped

,jobid,account,user,reqmem,usedmem,reqtime,usedtime,nodes,cpus,partition,exitcode,state,nodelist,req_total_seconds,used_total_seconds,mb_per_core,node_index
0,15925210,treviso,arabella,122880Mn,65973.49M,13-18:00:00,13-18:00:28,1,24,production,0:0,COMPLETED,cn1531,1188000,1188028,5120.0,cn
1,15861126,treviso,arabella,122880Mn,67181.12M,13-18:00:00,12-14:50:56,1,24,production,0:0,COMPLETED,cn1441,1188000,1090256,5120.0,cn
2,15861125,treviso,arabella,122880Mn,69111.86M,13-18:00:00,13-18:00:20,1,24,production,0:0,COMPLETED,cn1464,1188000,1188020,5120.0,cn
3,16251645,treviso,arabella,122880Mn,65317.33M,13-18:00:00,12-03:50:32,1,24,production,0:0,COMPLETED,cn1473,1188000,1050632,5120.0,cn
4,16251646,treviso,arabella,122880Mn,65876.11M,13-18:00:00,13-18:00:03,1,24,production,0:0,COMPLETED,cn1440,1188000,1188003,5120.0,cn
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3816285,24173815_8,portabella,vennie,32768Mn,30042.68M,1-00:00:00,00:02:27,1,2,production,0:0,COMPLETED,cn312,86400,147,16384.0,cn
3816286,24173815_9,portabella,vennie,32768Mn,31067.75M,1-00:00:00,00:02:27,1,2,production,0:0,COMPLETED,cn312,86400,147,16384.0,cn
3816287,24173815_10,portabella,vennie,32768Mn,21207.96M,1-00:00:00,00:01:40,1,2,production,0:0,COMPLETED,cn368,86400,100,16384.0,cn
3816288,24173817,boysenberries,hortensia,100000Mn,0,1-00:00:00,00:03:05,1,8,production,0:0,RUNNING,cn1509,86400,185,12500.0,cn
3816289,24173866,horseradish,ariane,20480Mn,0,05:00:00,00:02:05,1,1,production,0:0,RUNNING,cn1131,18000,125,20480.0,cn

In [27]:
accre_jobs_piped['node_index'].unique()

array(['cn', 'dougherty', 'capra', 'cqs', 'gpu', 'tbi', 'ng',
       'vm-cms-sam-pri', 'vm-cms-sam-sec', 'eval-dell-', 'rocksteady',
       'vm-qa-flatearth'], dtype=object)

In [28]:
accre_jobs_piped['node_numbers'] = accre_jobs_piped['nodelist'].str.findall(r'(\d+)')
accre_jobs_piped

,jobid,account,user,reqmem,usedmem,reqtime,usedtime,nodes,cpus,partition,exitcode,state,nodelist,req_total_seconds,used_total_seconds,mb_per_core,node_index,node_numbers
0,15925210,treviso,arabella,122880Mn,65973.49M,13-18:00:00,13-18:00:28,1,24,production,0:0,COMPLETED,cn1531,1188000,1188028,5120.0,cn,[1531]
1,15861126,treviso,arabella,122880Mn,67181.12M,13-18:00:00,12-14:50:56,1,24,production,0:0,COMPLETED,cn1441,1188000,1090256,5120.0,cn,[1441]
2,15861125,treviso,arabella,122880Mn,69111.86M,13-18:00:00,13-18:00:20,1,24,production,0:0,COMPLETED,cn1464,1188000,1188020,5120.0,cn,[1464]
3,16251645,treviso,arabella,122880Mn,65317.33M,13-18:00:00,12-03:50:32,1,24,production,0:0,COMPLETED,cn1473,1188000,1050632,5120.0,cn,[1473]
4,16251646,treviso,arabella,122880Mn,65876.11M,13-18:00:00,13-18:00:03,1,24,production,0:0,COMPLETED,cn1440,1188000,1188003,5120.0,cn,[1440]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3816285,24173815_8,portabella,vennie,32768Mn,30042.68M,1-00:00:00,00:02:27,1,2,production,0:0,COMPLETED,cn312,86400,147,16384.0,cn,[312]
3816286,24173815_9,portabella,vennie,32768Mn,31067.75M,1-00:00:00,00:02:27,1,2,production,0:0,COMPLETED,cn312,86400,147,16384.0,cn,[312]
3816287,24173815_10,portabella,vennie,32768Mn,21207.96M,1-00:00:00,00:01:40,1,2,production,0:0,COMPLETED,cn368,86400,100,16384.0,cn,[368]
3816288,24173817,boysenberries,hortensia,100000Mn,0,1-00:00:00,00:03:05,1,8,production,0:0,RUNNING,cn1509,86400,185,12500.0,cn,[1509]
3816289,24173866,horseradish,ariane,20480Mn,0,05:00:00,00:02:05,1,1,production,0:0,RUNNING,cn1131,18000,125,20480.0,cn,[1131]

# Stan 
    Question  1    Which partition nodes show high number of failures

# Jason --
    Question: 2   CMS Frequency of failure on particular nodes - user names: "cmslocal" and "cmspilot"

# Maggi -- 
    Question: 3 & 4   Calculation of % of actual memory used and mean % for each group

In [29]:
accre_jobs_piped.head(2)

,jobid,account,user,reqmem,usedmem,reqtime,usedtime,nodes,cpus,partition,exitcode,state,nodelist,req_total_seconds,used_total_seconds,mb_per_core,node_index,node_numbers
0,15925210,treviso,arabella,122880Mn,65973.49M,13-18:00:00,13-18:00:28,1,24,production,0:0,COMPLETED,cn1531,1188000,1188028,5120.0,cn,[1531]
1,15861126,treviso,arabella,122880Mn,67181.12M,13-18:00:00,12-14:50:56,1,24,production,0:0,COMPLETED,cn1441,1188000,1090256,5120.0,cn,[1441]

In [30]:
memory_use = accre_jobs_piped[(accre_jobs_piped['partition']=='production') & (accre_jobs_piped['exitcode']=='0:0')]

In [31]:
memory_use.head(2)

,jobid,account,user,reqmem,usedmem,reqtime,usedtime,nodes,cpus,partition,exitcode,state,nodelist,req_total_seconds,used_total_seconds,mb_per_core,node_index,node_numbers
0,15925210,treviso,arabella,122880Mn,65973.49M,13-18:00:00,13-18:00:28,1,24,production,0:0,COMPLETED,cn1531,1188000,1188028,5120.0,cn,[1531]
1,15861126,treviso,arabella,122880Mn,67181.12M,13-18:00:00,12-14:50:56,1,24,production,0:0,COMPLETED,cn1441,1188000,1090256,5120.0,cn,[1441]

In [38]:
accre_jobs_piped['account'].value_counts()

cms              807408
cep              609282
summer           380840
galia            198180
carrot           192551
orange           158400
cms_lowprio      135682
casaba           117722
portabella       110139
bunch            105877
cmsadmin         102589
bulk              78743
boysenberries     57622
sharlin           57479
horseradish       53708
grisette          42447
sweet             40241
mixed             39316
retailer          39091
key               37711
round             36830
wood              32609
savoy             30508
sprite            25892
atemoyas          25020
winged            24782
garlic            20350
wax               19623
celery            17399
alkmene           15606
sunburst          14249
fresh             11981
chickpeas         10919
regal             10497
large             10411
turban            10061
texas              9769
basil              9768
belle              8729
clara              8400
endive             8339
bertanne           8321
st                 7267
minnewashta        6577
muscat             6292
lychees            5536
seeded             3462
baby               3186
amaranth           3033
cantared           2710
sturmer            2119
almonds            1891
pinole             1846
anise              1775
medium             1617
conference         1594
sunflower          1482
pasilla            1471
sugranineteen      1445
burro              1350
chasselas          1329
blackberries       1316
bon                1228
cms_gpu_acc        1196
crab               1137
spring             1103
thomcord           1055
angelys             918
harovin             909
carambola           806
brazilnuts          720
concord             695
long                649
shallots            599
plantain            577
blueberries         576
emmons              538
shiny               533
treviso             530
cubanelle           523
jicama              519
baking              494
serrano             450
strawberries        436
white               418
cepuna              398
virginia            386
tips                361
bay                 313
pinova              303
cactus              296
chipilin            291
yu                  241
josephine           230
peanuts             227
horn                224
bibb                223
opo                 209
sommerfeld          195
champagne           186
lemon               176
dill                172
kinnow              170
packham             161
antares             160
scallopini          132
gem                 129
pepino              126
cinnabar            116
laxtons             109
rosemarie            90
delblush             83
tosca                83
fava                 83
leaves               82
pecans               80
lollo                77
chanterelle          74
mickey               72
arra                 65
fairchild            64
roasted              63
chayote              57
lochbuie             55
enoki                49
water                46
mignonette           46
pitted               45
fiddlehead           45
morita               41
salustiana           38
milwa                36
crowns               35
mangosteen           34
huaguan              27
hearts               26
kabocha              20
rocha                18
broccoli             18
forelle              18
mache                17
kumquat              16
shell                14
pickling             11
maltaise             11
poblano              11
bell                 11
galangal             10
oroblanco             9
pioppino              7
ingrid                7
polk                  7
cocktail              6
nino                  6
stalk                 4
pink                  4
francis               4
plumcot               3
malanga               3
prince                3
mung                  3
romanesco             2
gobo                  2
president             2
florence              2
wa                    2
golden                2
glasshouse            2
tree                  1
purple                1
pearl                 1
flamingo              1
hass                  1
discovery             1
with                  1
Name: account, dtype: int64

In [51]:
accre_jobs_piped[accre_jobs_piped['reqmem'].str.contains('Mc')][:5]

,jobid,account,user,reqmem,usedmem,reqtime,usedtime,nodes,cpus,partition,exitcode,state,nodelist,req_total_seconds,used_total_seconds,mb_per_core,node_index,node_numbers
705,17013893_10,cep,codie,4096Mc,1725.41M,7-00:00:00,2-15:47:46,1,1,production,0:0,COMPLETED,cn421,604800,229666,4096.0,cn,[421]
706,17013952_31,cep,codie,4096Mc,1733.61M,7-00:00:00,2-15:44:35,1,1,production,0:0,COMPLETED,cn1394,604800,229475,4096.0,cn,[1394]
2423,17043861_149,cep,sasha,1024Mc,375.44M,1-04:00:00,1-02:35:35,1,1,production,0:0,COMPLETED,cn1090,100800,95735,1024.0,cn,[1090]
2424,17043861_159,cep,sasha,1024Mc,375.38M,1-04:00:00,1-04:00:08,1,1,production,0:0,COMPLETED,cn1093,100800,100808,1024.0,cn,[1093]
2425,17043861_160,cep,sasha,1024Mc,375.32M,1-04:00:00,1-04:00:22,1,1,production,0:0,COMPLETED,cn1093,100800,100822,1024.0,cn,[1093]

In [55]:
accre_jobs_piped[(accre_jobs_piped['reqmem'].str.contains('Mn')) & (accre_jobs_piped['nodes']>1)][:5]

,jobid,account,user,reqmem,usedmem,reqtime,usedtime,nodes,cpus,partition,exitcode,state,nodelist,req_total_seconds,used_total_seconds,mb_per_core,node_index,node_numbers
696,16970069,cepuna,latisha,40960Mn,1356.55M,13-08:00:00,10-20:34:54,4,4,turing,0:6,CANCELLED,gpu[0048-0051],1152000,938094,2560.0,gpu,"[0048, 0051]"
3437,17050901_68,winged,lavonda,4096Mn,607.77M,12:00:00,00:02:33,2,2,production,0:0,COMPLETED,cn[1083-1084],43200,153,1024.0,cn,"[1083, 1084]"
3439,17050901_70,winged,lavonda,4096Mn,431.89M,12:00:00,00:02:28,2,2,production,0:0,COMPLETED,cn[1083-1084],43200,148,1024.0,cn,"[1083, 1084]"
3441,17050901_72,winged,lavonda,4096Mn,504.38M,12:00:00,00:02:30,2,2,production,0:0,COMPLETED,cn[1083-1084],43200,150,1024.0,cn,"[1083, 1084]"
3442,17050901_73,winged,lavonda,4096Mn,2054.99M,12:00:00,12:00:13,2,2,production,0:0,COMPLETED,cn[1367-1368],43200,43213,1024.0,cn,"[1367, 1368]"

In [99]:
accre_jobs_piped[(accre_jobs_piped['reqmem'].str.contains('Mc')) & (accre_jobs_piped['nodes']>1)][:50]

,jobid,account,user,reqmem,usedmem,reqtime,usedtime,nodes,cpus,partition,exitcode,state,nodelist,req_total_seconds,used_total_seconds,mb_per_core,node_index,node_numbers
13436,17105760,summer,buddy,20480Mc,6453.04M,04:40:00,00:00:56,2,1,production,0:0,COMPLETED,cn[1434-1435],16800,56,20480.0,cn,"[1434, 1435]"
13455,17105819,summer,buddy,20480Mc,7587.56M,04:40:00,00:11:43,2,1,production,0:0,COMPLETED,cn[1434-1435],16800,703,20480.0,cn,"[1434, 1435]"
13544,17105966,summer,buddy,20480Mc,7587.15M,04:40:00,00:14:03,2,1,production,0:0,COMPLETED,cn[1434-1435],16800,843,20480.0,cn,"[1434, 1435]"
27258,17125144,summer,buddy,20480Mc,20479.96M,04:40:00,00:17:50,3,1,production,0:0,COMPLETED,cn[1448-1450],16800,1070,20480.0,cn,"[1448, 1450]"
27560,17125676,summer,buddy,20480Mc,20463.48M,04:40:00,00:34:25,3,1,production,0:0,COMPLETED,cn[1465-1467],16800,2065,20480.0,cn,"[1465, 1467]"
28763,17126611,summer,buddy,20480Mc,6712.42M,04:40:00,00:03:37,3,1,production,0:0,COMPLETED,cn[1430-1432],16800,217,20480.0,cn,"[1430, 1432]"
62507,17173216,arra,needham,8192Mc,65535.89M,06:00:00,00:06:44,19,8,production,0:0,COMPLETED,"cn[1281,1283,1297-1298,1300-1301,1325,1355,135...",21600,404,8192.0,cn,"[1281, 1283, 1297, 1298, 1300, 1301, 1325, 135..."
104031,17234446,crowns,tena,5120Mc,8737.88M,1-12:00:00,1-12:00:12,51,1,production,1:0,FAILED,"cn[336-338,340,347-348,374-380,386-396,401,403...",129600,129612,5120.0,cn,"[336, 338, 340, 347, 348, 374, 380, 386, 396, ..."
120493,17255274,belle,osbaldo,8192Mc,0,1-00:00:00,00:01:15,4,12,production,0:0,COMPLETED,"cn[1293,1302,1355-1356]",86400,75,8192.0,cn,"[1293, 1302, 1355, 1356]"
163772,17324222,crowns,tena,5120Mc,9651.66M,2-00:00:00,16:47:47,37,1,production,0:0,COMPLETED,"cn[1094,1125,1266,1277-1279,1293,1298,1301,135...",172800,60467,5120.0,cn,"[1094, 1125, 1266, 1277, 1279, 1293, 1298, 130..."
167695,17329000,round,shenna,8000Mc,0,10:00:00,00:00:12,2,1,production,0:0,COMPLETED,cn[1291-1292],36000,12,8000.0,cn,"[1291, 1292]"
167790,17329248,pearl,auther,1024Mc,0,00:30:00,00:00:00,2,8,production,2:0,FAILED,"cn[326,499]",1800,0,1024.0,cn,"[326, 499]"
199503,17354412,crowns,tena,5120Mc,4277.54M,1-06:00:00,01:49:02,75,1,production,1:0,FAILED,"cn[331-338,340,347-349,361-367,386-393,395-396...",108000,6542,5120.0,cn,"[331, 338, 340, 347, 349, 361, 367, 386, 393, ..."
201540,17356683,crowns,tena,5120Mc,5036.63M,1-06:00:00,13:21:03,126,1,production,0:0,COMPLETED,"cn[303,306,308,331-337,348-349,354,356,365-368...",108000,48063,5120.0,cn,"[303, 306, 308, 331, 337, 348, 349, 354, 356, ..."
233631,17407978,crowns,tena,5120Mc,0,1-06:00:00,00:00:13,40,1,production,0:0,COMPLETED,"cn[1285-1287,1303-1321,1345-1354,1420-1427]",108000,13,5120.0,cn,"[1285, 1287, 1303, 1321, 1345, 1354, 1420, 1427]"
233647,17408015,crowns,tena,5120Mc,17546.22M,1-06:00:00,1-06:00:15,41,1,production,1:0,FAILED,"cn[1274-1277,1303-1321,1345-1354,1420-1427]",108000,108015,5120.0,cn,"[1274, 1277, 1303, 1321, 1345, 1354, 1420, 1427]"
237295,17413536,bulk,lela,1024Mc,1023.98M,1-16:00:00,00:01:55,20,1,production,0:125,OUT_OF_MEMORY,"cn[304,382-383,394,421,425,430,911-913,1081-10...",144000,115,1024.0,cn,"[304, 382, 383, 394, 421, 425, 430, 911, 913, ..."
268647,17418881,belle,osbaldo,8192Mc,0,1-00:00:00,00:00:10,4,12,production,0:0,COMPLETED,"cn[419,1233,1379,1508]",86400,10,8192.0,cn,"[419, 1233, 1379, 1508]"
283156,17459047,crowns,tena,5120Mc,4852.45M,2-00:00:00,09:20:56,75,1,production,0:0,COMPLETED,"cn[420,433,459,464,466,1210,1213,1220,1222,125...",172800,33656,5120.0,cn,"[420, 433, 459, 464, 466, 1210, 1213, 1220, 12..."
289774,17487107,crowns,tena,5120Mc,3969.25M,1-00:00:00,05:43:07,97,1,production,0:0,COMPLETED,"cn[333,337,352-355,357,372,386,400,418,433,436...",86400,20587,5120.0,cn,"[333, 337, 352, 355, 357, 372, 386, 400, 418, ..."
332664,17553961,belle,osbaldo,8192Mc,1818.74M,1-00:00:00,00:01:01,4,12,production,0:0,COMPLETED,"cn[1262,1325,1355-1356]",86400,61,8192.0,cn,"[1262, 1325, 1355, 1356]"
413086,17631752,belle,osbaldo,8192Mc,3168.82M,1-00:00:00,13:55:40,4,12,production,0:0,COMPLETED,"cn[1281-1282,1463,1510]",86400,50140,8192.0,cn,"[1281, 1282, 1463, 1510]"
454397,17702611,mignonette,hardie,5120Mc,10239.62M,05:00:00,00:00:38,45,1,production,0:0,COMPLETED,"cn[329-335,337-338,340,347,365-370,434-438,443...",18000,38,5120.0,cn,"[329, 335, 337, 338, 340, 347, 365, 370, 434, ..."
470106,17726747,belle,osbaldo,8192Mc,0,1-00:00:00,00:00:08,4,12,production,0:0,COMPLETED,"cn[1437,1469,1476,1505]",86400,8,8192.0,cn,"[1437, 1469, 1476, 1505]"
470107,17726748,belle,osbaldo,8192Mc,0,1-00:00:00,00:00:07,4,12,production,0:0,COMPLETED,"cn[1437,1469,1476,1505]",86400,7,8192.0,cn,"[1437, 1469, 1476, 1505]"
470108,17726749,belle,osbaldo,8192Mc,0,1-00:00:00,00:00:07,4,12,production,0:0,COMPLETED,"cn[1437,1466,1476,1505]",86400,7,8192.0,cn,"[1437, 1466, 1476, 1505]"
470109,17726750,belle,osbaldo,8192Mc,0,1-00:00:00,00:00:09,4,12,production,0:0,COMPLETED,"cn[1437,1466,1476,1505]",86400,9,8192.0,cn,"[1437, 1466, 1476, 1505]"
470110,17726751,belle,osbaldo,8192Mc,0,1-00:00:00,00:00:05,4,12,production,0:0,COMPLETED,"cn[1437,1466,1476,1505]",86400,5,8192.0,cn,"[1437, 1466, 1476, 1505]"
472733,17730085,pasilla,earlean,1024Mc,24.33M,7-00:00:00,00:00:26,3,16,production,1:0,FAILED,"cn[1437,1530-1531]",604800,26,1024.0,cn,"[1437, 1530, 1531]"
473214,17732653,pasilla,earlean,1024Mc,905.74M,7-00:00:00,00:33:13,4,16,production,0:0,COMPLETED,"cn[1433,1462-1464]",604800,1993,1024.0,cn,"[1433, 1462, 1464]"
474755,17739511,belle,osbaldo,8192Mc,3297.94M,1-00:00:00,13:40:46,4,12,production,0:0,COMPLETED,"cn[1366,1437,1466,1476]",86400,49246,8192.0,cn,"[1366, 1437, 1466, 1476]"
476590,17742385,pasilla,earlean,1024Mc,2291.49M,7-00:00:00,1-04:54:15,6,12,production,0:125,OUT_OF_MEMORY,"cn[1430-1431,1433-1434,1442-1443]",604800,104055,1024.0,cn,"[1430, 1431, 1433, 1434, 1442, 1443]"
484910,17755677,mignonette,hardie,5120Mc,0,05:00:00,00:00:08,3,4,production,0:0,COMPLETED,"cn[1261,1266,1271]",18000,8,5120.0,cn,"[1261, 1266, 1271]"
489207,17763215,belle,osbaldo,8192Mc,3230.12M,1-00:00:00,11:53:02,4,12,production,0:0,COMPLETED,"cn[1432,1471,1523-1524]",86400,42782,8192.0,cn,"[1432, 1471, 1523, 1524]"
495996,17771571,pasilla,earlean,1024Mc,2289.45M,7-00:00:00,15:59:00,6,12,production,0:125,OUT_OF_MEMORY,"cn[1434,1443,1459-1460,1462-1463]",604800,57540,1024.0,cn,"[1434, 1443, 1459, 1460, 1462, 1463]"
499318,17777689,belle,osbaldo,8192Mc,2777.12M,1-00:00:00,11:43:51,4,12,production,0:0,COMPLETED,cn[1363-1366],86400,42231,8192.0,cn,"[1363, 1366]"
499319,17777690,belle,osbaldo,8192Mc,3170.55M,1-00:00:00,11:42:34,4,12,production,0:0,COMPLETED,"cn[1296-1298,1300]",86400,42154,8192.0,cn,"[1296, 1298, 1300]"
499320,17777692,belle,osbaldo,8192Mc,2897.40M,1-00:00:00,06:24:39,4,12,production,0:0,COMPLETED,"cn[1491,1504,1520-1521]",86400,23079,8192.0,cn,"[1491, 1504, 1520, 1521]"
499321,17777693,belle,osbaldo,8192Mc,3358.82M,1-00:00:00,07:58:25,4,12,production,0:0,COMPLETED,"cn[1262,1515,1520-1521]",86400,28705,8192.0,cn,"[1262, 1515, 1520, 1521]"
504821,17787214,pasilla,earlean,3072Mc,2305.97M,7-00:00:00,02:17:23,6,12,production,0:0,COMPLETED,"cn[301,329,331,358,370,372]",604800,8243,3072.0,cn,"[301, 329, 331, 358, 370, 372]"
546303,17854712,angelys,namon,1024Mc,6.83M,10:00:00,00:00:31,63,1,production,0:0,COMPLETED,"cn[394,430,449,911-913,1083-1086,1090-1092,109...",36000,31,1024.0,cn,"[394, 430, 449, 911, 913, 1083, 1086, 1090, 10..."
547215,17855403,angelys,namon,1024Mc,0,00:10:00,00:00:04,3,1,production,0:0,COMPLETED,cn[1133-1135],600,4,1024.0,cn,"[1133, 1135]"
547216,17855436,angelys,namon,1024Mc,0,00:10:00,00:00:06,8,1,production,0:0,COMPLETED,"cn[912-913,1090-1091,1132-1135]",600,6,1024.0,cn,"[912, 913, 1090, 1091, 1132, 1135]"
547221,17855486,angelys,namon,1024Mc,5.72M,00:10:00,00:03:40,143,1,production,0:0,COMPLETED,"cn[313-315,320,327,331-332,335,348,357-359,361...",600,220,1024.0,cn,"[313, 315, 320, 327, 331, 332, 335, 348, 357, ..."
547222,17855487,angelys,namon,1024Mc,0,00:10:00,00:00:10,15,1,production,0:0,COMPLETED,"cn[421,911-913,1082,1090-1091,1094-1096,1121-1...",600,10,1024.0,cn,"[421, 911, 913, 1082, 1090, 1091, 1094, 1096, ..."
547223,17855488,angelys,namon,1024Mc,0,00:10:00,00:00:11,24,1,production,0:0,COMPLETED,"cn[394,421,911-913,1082-1086,1090-1092,1094-10...",600,11,1024.0,cn,"[394, 421, 911, 913, 1082, 1086, 1090, 1092, 1..."
547224,17855489,angelys,namon,1024Mc,1.09M,00:10:00,00:04:23,35,1,production,0:39,CANCELLED by 486541,"cn[1285-1287,1304-1308,1313-1317,1333-1336,134...",600,263,1024.0,cn,"[1285, 1287, 1304, 1308, 1313, 1317, 1333, 133..."
547226,17855492,angelys,namon,1024Mc,1.09M,00:10:00,00:03:23,48,1,production,0:39,CANCELLED by 486541,"cn[1273-1279,1284-1287,1304-1317,1342-1352,137...",600,203,1024.0,cn,"[1273, 1279, 1284, 1287, 1304, 1317, 1342, 135..."
547228,17855495,angelys,namon,1024Mc,1.07M,00:10:00,00:03:51,63,1,production,0:39,CANCELLED by 486541,"cn[1083-1086,1273-1279,1284-1287,1304-1317,133...",600,231,1024.0,cn,"[1083, 1086, 1273, 1279, 1284, 1287, 1304, 131..."
547229,17855497,angelys,namon,1024Mc,1.08M,00:10:00,00:03:54,80,1,production,0:105,CANCELLED by 486541,"cn[912-913,1132-1135,1273-1279,1284-1287,1303-...",600,234,1024.0,cn,"[912, 913, 1132, 1135, 1273, 1279, 1284, 1287,..."

For Mn, convert to Mc as follows: digits / (cpus/nodes)<br>
For Mc, use the digits as is<br>
usedmem is stated in Mn, but designated as M or possibly with no designation<br>
recmem can be stated in either Mc, Mn, or none<br>
Question: The documentation says that cpus is the total cpus for the job (i.e., not the cpus per node);
    however, some jobs have 1 cpu and 2 nodes, 1 cpu and 51 nodes; so, I don't understand that.<br>
Make two new columns in memory_use reqmem_mc and usedmem_mc

In [67]:
def convert_reqmem(row):
    if 'Mn' in row['reqmem']:
        cpus = row['cpus'] or 1
        reqmem = int(row['reqmem'][:-2]) / (cpus/row['nodes'])
    elif 'Mc' in row['reqmem']:
        reqmem = int(row['reqmem'][:-2])
    else:
        reqmem = row['reqmem']
    return reqmem

In [68]:
memory_use['reqmem_mc'] = memory_use.apply(convert_reqmem, axis = 1)

<ipython-input-68-e268072f3ded>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  memory_use['reqmem_mc'] = memory_use.apply(convert_reqmem, axis = 1)

In [100]:
memory_use.head(2)

,jobid,account,user,reqmem,usedmem,reqtime,usedtime,nodes,cpus,partition,exitcode,state,nodelist,req_total_seconds,used_total_seconds,mb_per_core,node_index,node_numbers,reqmem_mc,usedmem_mc
0,15925210,treviso,arabella,122880Mn,65973.49M,13-18:00:00,13-18:00:28,1,24,production,0:0,COMPLETED,cn1531,1188000,1188028,5120.0,cn,[1531],5120.0,2748.895417
1,15861126,treviso,arabella,122880Mn,67181.12M,13-18:00:00,12-14:50:56,1,24,production,0:0,COMPLETED,cn1441,1188000,1090256,5120.0,cn,[1441],5120.0,2799.213333

In [74]:
memory_use['usedmem']

0          65973.49M
1          67181.12M
2          69111.86M
3          65317.33M
4          65876.11M
             ...
3816285    30042.68M
3816286    31067.75M
3816287    21207.96M
3816288            0
3816289            0
Name: usedmem, Length: 3310591, dtype: object

In [87]:
def convert_usedmem(row):
    cpus = row['cpus'] or 1
    if 'M' in row['usedmem']:
        usedmem = float(row['usedmem'][:-1]) / (cpus/row['nodes'])
    else:
        usedmem = float(row['usedmem'])/(cpus/row['nodes'])
    return usedmem

In [88]:
memory_use['usedmem_mc'] = memory_use.apply(convert_usedmem, axis = 1)

<ipython-input-88-417cd5636a52>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  memory_use['usedmem_mc'] = memory_use.apply(convert_usedmem, axis = 1)

In [90]:
memory_use.head()

,jobid,account,user,reqmem,usedmem,reqtime,usedtime,nodes,cpus,partition,exitcode,state,nodelist,req_total_seconds,used_total_seconds,mb_per_core,node_index,node_numbers,reqmem_mc,usedmem_mc
0,15925210,treviso,arabella,122880Mn,65973.49M,13-18:00:00,13-18:00:28,1,24,production,0:0,COMPLETED,cn1531,1188000,1188028,5120.0,cn,[1531],5120.0,2748.895417
1,15861126,treviso,arabella,122880Mn,67181.12M,13-18:00:00,12-14:50:56,1,24,production,0:0,COMPLETED,cn1441,1188000,1090256,5120.0,cn,[1441],5120.0,2799.213333
2,15861125,treviso,arabella,122880Mn,69111.86M,13-18:00:00,13-18:00:20,1,24,production,0:0,COMPLETED,cn1464,1188000,1188020,5120.0,cn,[1464],5120.0,2879.660833
3,16251645,treviso,arabella,122880Mn,65317.33M,13-18:00:00,12-03:50:32,1,24,production,0:0,COMPLETED,cn1473,1188000,1050632,5120.0,cn,[1473],5120.0,2721.555417
4,16251646,treviso,arabella,122880Mn,65876.11M,13-18:00:00,13-18:00:03,1,24,production,0:0,COMPLETED,cn1440,1188000,1188003,5120.0,cn,[1440],5120.0,2744.837917

In [101]:
memory_use['usedmem_mc'].sort_values()
memory_use['usedmem_mc'].value_counts()

0.000000        545331
1.560000         31241
0.197500         30085
1.557500         29904
6.230000         16918
                 ...
4122.576667          1
2002.237500          1
2561.365000          1
12213.880000         1
3950.615000          1
Name: usedmem_mc, Length: 887202, dtype: int64

In [98]:
memory_use[memory_use['usedmem_mc'] ==0]

,jobid,account,user,reqmem,usedmem,reqtime,usedtime,nodes,cpus,partition,exitcode,state,nodelist,req_total_seconds,used_total_seconds,mb_per_core,node_index,node_numbers,reqmem_mc,usedmem_mc
8312,17094458,wood,hillery,600Mn,0,2-10:58:00,00:00:26,1,1,production,0:0,COMPLETED,cn1088,212280,26,600.0,cn,[1088],600.0,0.0
8497,17094727,conference,mabell,247808Mn,0,14-00:00:00,00:00:08,1,16,production,0:0,COMPLETED,cn1526,1209600,8,15488.0,cn,[1526],15488.0,0.0
8498,17094728,conference,mabell,247808Mn,0,14-00:00:00,00:00:10,1,16,production,0:0,COMPLETED,cn1526,1209600,10,15488.0,cn,[1526],15488.0,0.0
8521,17094766,conference,mabell,247808Mn,0,14-00:00:00,00:00:21,1,16,production,0:0,COMPLETED,cn1526,1209600,21,15488.0,cn,[1526],15488.0,0.0
9279,17095881,cms_lowprio,cmslocal,28000Mn,0,2-00:00:00,00:00:04,1,4,production,0:0,COMPLETED,cn1530,172800,4,7000.0,cn,[1530],7000.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3816274,24173809,cms,uscmslocal,28000Mn,0,2-00:00:00,00:04:05,1,4,production,0:0,RUNNING,cn1378,172800,245,7000.0,cn,[1378],7000.0,0.0
3816275,24173810,cms,uscmslocal,5000Mn,0,2-00:00:00,00:04:04,1,1,production,0:0,RUNNING,cn407,172800,244,5000.0,cn,[407],5000.0,0.0
3816276,24173811,cms,uscmslocal,28000Mn,0,2-00:00:00,00:04:05,1,4,production,0:0,RUNNING,cn1507,172800,245,7000.0,cn,[1507],7000.0,0.0
3816288,24173817,boysenberries,hortensia,100000Mn,0,1-00:00:00,00:03:05,1,8,production,0:0,RUNNING,cn1509,86400,185,12500.0,cn,[1509],12500.0,0.0
3816289,24173866,horseradish,ariane,20480Mn,0,05:00:00,00:02:05,1,1,production,0:0,RUNNING,cn1131,18000,125,20480.0,cn,[1131],20480.0,0.0

In [102]:
memory_use['state'].value_counts()

COMPLETED              3302522
CANCELLED                 4449
RUNNING                   2859
CANCELLED by 686562        680
TIMEOUT                     79
CANCELLED by 9201            2
Name: state, dtype: int64

In [103]:
memory_use['exitcode'].value_counts()

0:0    3310591
Name: exitcode, dtype: int64